image:
  tag: {{ env "MEDIA_INGEST_IMAGE_TAG" | default "latest" }}

gateway:
  name: {{ .Values.global.gateway.name }}

virtualService:
  hosts:
    - {{ .Values.global.appDomain }}

cors:
  allowedOrigins:
    - "https://{{ .Values.global.appDomain }}"
    - "http://localhost:3000"
    - "https://localhost:3000"