gateway:
  name: {{ .Values.global.gateway.name }}
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - {{ .Values.global.clusterDomain }}
observability:
  collector:
    name: otel
  grafana:
    otlpEndpoint: "https://otlp-gateway-prod-eu-north-0.grafana.net/otlp"
    secretKey: "grafana-cloud-otlp-token"
    instanceIdKey: "grafana-cloud-instance-id"