replicaCount: 1

image:
  repository: akisliy/amplify-publisher
  pullPolicy: IfNotPresent
  tag: ""

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true

podLabels: {}

service:
  type: ClusterIP
  port: 80

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

volumes: 
  - name: config-volume
    configMap:
      name: publisher-config

virtualService:
  name: publisher-vs
  http:
    timeout: 2s
    retries:
      attempts: 3
      perTryTimeout: 2s
      retryOn: gateway-error,connect-failure,refused-stream,5xx

gateway:
  name: amplify-gateway
  
# определяется в файлах окружений
appConfig: {}