services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6060:8080"
    environment:
      - DbConnectionOptions__Default=Host=db;Database=my_app;Username=postgres;Password=password
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - RabbitMQOptions__Host=broker
      - RabbitMQOptions__Usernam=guest
      - RabbitMQOptions__Password=guest
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_healthy

  db:
    image: postgres:16.9-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=my_app
    ports:
      - "64321:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  broker:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
