apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: userservice-secrets
spec:
  refreshInterval: 1h            
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcp-store            
  target:
    name: userservice-k8s-secret
    creationPolicy: Owner
  data:
  - secretKey: CONNECTION_STRING 
    remoteRef:
      key: {{ .Values.secrets.connectionStringKey }}
      {{- if .Values.secrets.connectionStringVersion -}}
      version: .Values.secrets.connectionStringVersion
      {{- end }}