secretStore:
  name: {{ .Values.global.secretStore.name }}

image:
  tag: {{ env "WS_GATEWAY_IMAGE_TAG" | default "latest" }}

gateway:
  name: {{ .Values.global.gateway.name }}

hosts:
  - {{ .Values.global.appDomain }}