name: Deploy PR to Test Env (K8s)

on:
    pull_request:
        types: [opened, synchronize, reopened]
        branches: [main, develop]

env:
    PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
    CLUSTER_NAME: amplify-cluster
    ZONE: europe-west3-a

    REGISTRY: ghcr.io
    IMAGE_NAME_BASE: ghcr.io/${{ github.repository }}

jobs:
    changes:
        runs-on: ubuntu-latest
        outputs:
            userservice: ${{ steps.filter.outputs.userservice }}
            publisher: ${{ steps.filter.outputs.publisher }}
        steps:
            - uses: actions/checkout@v4
            - uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      userservice:
                        - 'userservice/**'
                        - 'helmfile.yaml'
                      publisher:
                        - 'publisher/**'

    deploy-userservice:
        needs: changes
        if: ${{ needs.changes.outputs.userservice == 'true' }}
        uses: ./.github/workflows/deploy-template.yaml
        with:
            service_folder: "userservice"
            app_label: "userservice"
            image_tag_var_name: "USERSERVICE_IMAGE_TAG"
            env_name: "dev"
        secrets: inherit

    deploy-publisher:
        needs: changes
        if: ${{ needs.changes.outputs.publisher == 'true' }}
        uses: ./.github/workflows/deploy-template.yaml
        with:
            service_folder: "publisher"
            app_label: "publisher"
            image_tag_var_name: "PUBLISHER_IMAGE_TAG"
            env_name: "dev"
        secrets: inherit
