name: Deploy Service Template

on:
    workflow_call:
        inputs:
            service_folder:
                required: true
                type: string
                description: "Folder name (e.g. userservice)"
            app_label:
                required: true
                type: string
                description: "Helmfile label (e.g. userservice)"
            env_name:
                required: false
                type: string
                default: "stage"
                description: "Environment (stage/prod)"
            image_tag_var_name:
                required: true
                type: string
                description: "Env var name for Helmfile (e.g. USERSERVICE_IMAGE_TAG)"
        secrets:
            GCP_CREDENTIALS:
                required: true

env:
    PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
    CLUSTER_NAME: amplify-cluster
    ZONE: europe-west3-a
    REGISTRY: ghcr.io

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            id-token: write

        steps:
            - uses: actions/checkout@v4

            - name: Calculate Image Metadata
              env:
                  REGISTRY: ghcr.io
                  REPO_NAME: ${{ github.repository }}
              run: |
                  LOWER_REPO="${REPO_NAME,,}"

                  echo "IMAGE_NAME=${REGISTRY}/${LOWER_REPO}/${{ inputs.service_folder }}" >> $GITHUB_ENV
                  echo "IMAGE_TAG=pr-${{ github.event.number }}-${{ github.sha }}" >> $GITHUB_ENV

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - id: "auth"
              uses: "google-github-actions/auth@v2"
              with:
                  credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

            - name: Get GKE Credentials
              uses: google-github-actions/get-gke-credentials@v2
              with:
                  cluster_name: ${{ env.CLUSTER_NAME }}
                  location: ${{ env.ZONE }}

            - name: Setup Helm
              uses: azure/setup-helm@v3

            - name: Setup Helmfile
              uses: mamezou-tech/setup-helmfile@v2.2.0

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v6
              with:
                  context: ./${{ inputs.service_folder }}
                  push: true
                  tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

            - name: Deploy via Helmfile
              run: |
                  export ${{ inputs.image_tag_var_name }}=${{ env.IMAGE_TAG }}
                  helmfile -e ${{ inputs.env_name }} -l app=${{ inputs.app_label }} apply
